Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: <b/>
    
* Popular languages used in Data Science
* Common Libraries used in Data Science
* Create single column tables
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. ScyPy

| Data Science Tools |
| --- |
| Jupyter Notebooks |
| Zeppelin Notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

1 + 2 (Addition)
2 - 1 (Substraction)
3 * 2 (Multiplication)
10 / 2 (Division)

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

### Author
Emiliano García Sáinz